<p>Interviewアカウントの登録が完了しました。お心当たりがない場合は下記URLよりInterviewにお問い合わせください。</p>
<a href="https://interview-match.tvt.co.jp/pages/4859179/page_202104211819">
  https://interview-match.tvt.co.jp/pages/4859179/page_202104211819
</a>
<%= render 'shared/mailers/footer' %>
