<%= t('message.common.unread_messages_notification') %>


<% @messages.each do |message| %>
=======================================================
  <% if @user.is_a? Employer %>
    <%= chat_room_link message.chat_room_id %>
  <% end %>
  <%= message.authorable.display_name %>, <%= message.created_at.strftime("%Y-%m-%d %H:%M") %>

  <%= chat_message_display_text message %>
=======================================================

<% end %>

<%= render 'shared/mailers/footer' %>
