<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    td {
        padding: 10px;
    }
</style>

<p><%= t('message.common.unread_messages_notification') %></p>

<table>
  <% @messages.each do |message| %>
    <tr>
      <td rowspan="2">
        <% if @user.is_a? Employer %>
          <a style="display: block;" href="<%= chat_room_link message.chat_room_id %>">
            <img style="width: 36px; height: 36px; object-fit: cover; border-radius: 18px;" src="<%= message.authorable.avatar_url %>"/>
          </a>
        <% else %>
          <img style="width: 36px; height: 36px; object-fit: cover; border-radius: 18px;" src="<%= message.authorable.avatar_url %>"/>
        <% end %>
      </td>
      <td>
        <% if @user.is_a? Employer %>
          <a href="<%= chat_room_link message.chat_room_id %>">
            <%= message.authorable.display_name %>
          </a>
        <% else %>
          <%= message.authorable.display_name %>
        <% end %>
      </td>
      <td>
        <span style="color: #92949c;"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span style="color: #222428;"><%= chat_message_display_text message %></span>
      </td>
    </tr>
  <% end %>
</table>

<%= render 'shared/mailers/footer' %>
