<p style="color: #777777;">
  この自動配信メッセージは送信専用のため返信はしないでください。このメールは、Interviewのアカウントを作成した人に送信されています。<br/>
  メールアドレスを更新するにはマイページにアクセスしてください。<br/>
  All rights reserved, TVT Co., Ltd. © 2021-present.
</p>
