<%= @params.first_name || @params.email %>様
Interviewにログインするための２段階認証コードは、<%= @params.confirmation_token_ %>です。
お心当たりのない方は下記URLよりInterviewにお問い合わせください。
https://interview-match.tvt.co.jp/pages/4859179/page_202104211819
