<p><%= t('push_notification.offer_received', from: @offer.offerable_from_display_name) %></p>

<a href="<%= offer_link @offer.id %>"><%= offer_link @offer.id %></a>

<%= render 'shared/mailers/footer' %>
