<p>
  <% if @offer.accepted? %>
    <%= I18n.t 'push_notification.offer_accepted', to: @offer.offerable_to_display_name %>
  <% else %>
    <%= I18n.t 'push_notification.offer_declined', to: @offer.offerable_to_display_name %>
  <% end %>
</p>

<%= render 'shared/mailers/footer' %>
