属性：<%= @scope %>
お名前：<%= @inquiry[:last_name] %><%= @inquiry[:first_name] %>
フリガナ：<%= @inquiry[:last_name_kana] %><%= @inquiry[:first_name_kana] %>
会社名：<%= @inquiry[:company_name] %>
部署名：<%= @inquiry[:department] %>
Email：<%= @inquiry[:email] %>
題名：<%= @inquiry[:title] %>
お問い合わせ内容
<%= @inquiry[:content] %>
