属性：<%= @scope %><br/>
お名前：<%= @inquiry[:last_name] %><%= @inquiry[:first_name] %><br/>
フリガナ：<%= @inquiry[:last_name_kana] %><%= @inquiry[:first_name_kana] %><br/>
会社名：<%= @inquiry[:company_name] %><br/>
部署名：<%= @inquiry[:department] %><br/>
Email：<%= @inquiry[:email] %><br/>
題名：<%= @inquiry[:title] %><br/>
お問い合わせ内容<br/>
<%= simple_format @inquiry[:content] %>
