<h2>お問い合わせを受け付けました</h2>
<br/>
お問い合わせ頂き誠にありがとうございます。Interviewカスタマーサービスセンターです。<br/>
当メールはお問い合わせを頂いたお客様に自動的に送信されています。このメールには返信しないようお願い致します。<br/>
お問い合わせを受け付けいたしました。<br/>
迅速な対応を心がけておりますがご返信には3～4営業日程頂く場合がございますので、恐れ入りますがしばらくお待ちください。３～4営業日を過ぎても返信がない場合はお手数ですが今一度お問い合わせくださいますようお願い致します。また、お客様が携帯キャリアからのメールの場合はこちらからのメールが届かない場合がございますので必ずドメイン指定のご確認をお願い致します。<br/>
お急ぎの際はHPの「よくある質問」をご参照くださいますようお願い致します。また、内容によりご返答を致し兼ねる場合がございますのでご了承くださいませ。<br/>
<br/>
属性：<%= @scope %><br/>
お名前：<%= @inquiry[:last_name] %><%= @inquiry[:first_name] %><br/>
フリガナ：<%= @inquiry[:last_name_kana] %><%= @inquiry[:first_name_kana] %><br/>
会社名：<%= @inquiry[:company_name] %><br/>
部署名：<%= @inquiry[:department] %><br/>
Email：<%= @inquiry[:email] %><br/>
題名：<%= @inquiry[:title] %><br/>
お問い合わせ内容<br/>
<%= simple_format @inquiry[:content] %>
-------------------------------------------------------------------------------------------------------------------------------------------------------------------<br/>
Interviewカスタマーサービスセンター<br/>
https://interview-match.tvt.co.jp<br/>
Copyright(C) TVT Co., LTD. All rights reserved.<br/>
