<p>Interviewにログインするための２段階認証コードは、<%= @resource.confirmation_token %>です。</p>
<p>お心当たりのない方は下記URLよりInterviewにお問い合わせください。</p>
<a href="https://interview-match.tvt.co.jp/pages/4859179/page_202104211819">
  https://interview-match.tvt.co.jp/pages/4859179/page_202104211819
</a>
<%= render("shared/mailers/footer") %>
